body {
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.catalog {
    width: 870px;
    height: 250px;
    background-color: lightblue;
}

.product {
    float: left;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px double orange;
    background-color: bisque;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 80px;
}
